@model IEnumerable<Btt2._2.Models.Product>

<h3 class="mb-4">Sản phẩm nổi bật</h3>
<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm border-0">
                <img src="~/@p.Image"
                     class="card-img-top w-100"
                     alt="@p.Name"
                     style="object-fit: cover; height: 250px;">
                <div class="card-body text-center">
                    <h6 class="card-title">@p.Name</h6>
                    <p class="fw-bold">@p.Price.ToString("N0") đ</p>
                </div>
            </div>
        </div>
    }
</div>
